<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load admin_urls %}

<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{%block pagetitle %}Foire aux livres de l'AESS{% endblock pagetitle %} | EnceFAL</title>

	<!-- Comment the next line to remove semantics-ui (and the style!) -->
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">


    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type='text/css'/>
    <link rel="shortcut icon" href="{% get_static_prefix %}images/logo_encefal.png"/>
    
    {% block extra_head %}{% endblock %}

	<!-- Comment the next line to remove semantics-ui (and the style!) -->
	<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>	

  </head>

  <body>
    <!-- Menu -->
    <div class="ui fixed borderless top menu">
		<div class="ui container">
		    <div class="item">
		      <a href="{% url 'main:accueil' %}">
		        {% block branding %}{% endblock branding %}
		        <img style="height: 40px;" class="img-responsive" src="{% static 'images/logo_encefal.png' %}" alt="logo_encefal"></img>
		      </a>
			</div>

			<div class="item">
				<a href="/">Accueil</a>
			</div>
		    <div class="item">
		      <a href="/livres">Livres</a>
		    </div>
		    <div class="item">
		      <a href="/factures">Factures</a>
		    </div>
			
			<div class="ui right secondary menu">
				<div class="item">
					<a class="ui primary button" href="{% url 'admin:login' %}">Employés</a>
				</div>
				<div class="item">
					<a class="ui primary button" href="{% url 'main:livres_vendeur' %}">Vendeur</a>
				</div>
			</div>

		</div> <!-- END Text container -->
    </div> <!-- END menu -->
   <div class="ui container">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
