#### Maybe temporary file containing all requisite for
#### building the actual project and running it.

#### Django ####
django == 1.9.6 	# In case of new updates, fixed 1.9.6
django-admin-tools 	# Any version will do

#### Python requirements ####
six					# Required by python-dateutil
python-dateutil		# For dates in main_session
lxml				# Required by some files to decode html

#### Coverall requirements ####
coveralls
