<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load static %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{%block pagetitle %}Foire aux livres de l'AESS{% endblock pagetitle %} | EnceFAL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- les bootstrap_stylesheet_tag semblent passés date, j'ai hard-coded les liens 
		meme chose pour le bootstrap_javascript_tag -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css"> 
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type='text/css'/>
    <link rel="shortcut icon" href="{% get_static_prefix %}images/logo_encefal.png"/>
    
    {% block extra_head %}{% endblock %}

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            {% block branding %}{% endblock branding %}
            <img style="height: 40px;" class="img-responsive" src="{% get_static_prefix %}images/logo_encefal.png" alt="logo_encefal"></img>
          </a>
          <ul class="nav">
            <li class="">
              <a href="/">Accueil</a>
            </li>
            <li>
              <a href="/livres">Livres</a>
            </li>
            <li>
              <a href="/factures">Factures</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>
	<!-- copie du lien bootstrap_javascript_tag -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
