
{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'jqueryui/jquery-ui.css' %}" />
    <script type="text/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $( "#date_rapport" ).datepicker({
                dateFormat : "yy-mm-dd",
                onSelect : function(formated, obj) {
                    $( "#date_rapport" ).val(formated)
                    window.location.href = "{% url 'rapport' %}" + "?date="
                                            + formated
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
{% load static %}

<div class="page-content">
    <h1>Rapport de ventes</h1>
    <div class="control-group">
        <label class="control-label">Date:
            <div>
                <input class="ui input" id="date_rapport" size="16" type="text" value="{{ date_init }}">
                <span class="ui borderless small icon button" onclick=""><i class="calendar icon"></i></span>
            </div>
        </label>
    </div>



    <div class="rapport-wrap">
        <table class="table table-striped table-report">
            <caption>Date du rapport : {{ date }} </caption>
            <tr>
                <td>Nombre de livres ajoutés:</td>
                <td>
                    {% if nb_ajoutes %}
                        {{ nb_ajoutes }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Nombre de livres vendus:</td>
                <td>
                {% if nb_vendus %}
                    {{ nb_vendus }}
                {% else %}
                    0
                {% endif %}
                </td>
            </tr>

            <tr>
                <td>Nombre de ventes:</td>
                <td>
                    {% if nb_factures %}
                        {{ nb_factures }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Prix total des ventes {% if taxables %} (avant taxes) {% endif %}:</td>
				<td>
				{% if prix_total_avant_taxes %}
					{{ prix_total_avant_taxes|floatformat:"2" }}$
				{% else %}
					0$
				{% endif %}
				</td>
            </tr>
			{% if taxable %}
			<tr>
				<td>TPS:</td>
				<td>
				{% if prix_tps %}
					{{ prix_tps|floatformat:"2" }}$
				{% else %}
					0$
				{% endif %}
				</td>
			</tr>
				<td>TVQ:</td>
				<td>
				{% if prix_tvq %}
					{{ prix_tvq|floatformat:"2" }}$
				{% else %}
					0$
				{% endif %}
				</td>
			</tr>
			<tr>
				<td>Prix total:</td>
				<td>
				{% if prix_total_taxes %}
					{{ prix_total_taxes|floatformat:"2" }}$
				{% else %}
					0$
				{% endif %}
				</td>
			</tr>
			{% endif %}
        </table>

    </div>
</div>

{% endblock %}
