{% load i18n admin_static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
	<head>
		<title>{%block pagetitle %}Foire aux livres de l'AESS{% endblock pagetitle %} | EnceFAL</title>
		<!-- Comment the next two lines to remove semantics-ui (and the style!) -->
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
		<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

		<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
	    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    	<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>			

		{% block extrastyle %}{% endblock %}
		
		{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}

		{% block extrahead %}{% endblock %}
		{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
	</head>
	{% load i18n %}

	<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Menu -->
    <div class="ui top menu">
        <div class="item">
        	{% block branding %}{% endblock %}
        </div>

		{% if user.is_authenticated %}
		<div class="item">
			<a href="{% url 'admin:index' %}">Accueil</a>
		</div>

		<div class="item">
			<a href="{% url 'main:accueil' %}">Retour au site</a>
		</div>
		
		<div class="item">
			<a href="{% url 'main:livres' %}">Livres</a>
		</div>

		<div class="divider item"></div>

    	{% block usertools %}
		{% if user.is_authenticated %}
		<div class="ui simple dropdown link item">
		{% block welcome-msg %}
			<span class="text">
	    		{% trans 'Welcome,' %}
			    <strong>{% firstof user.get_short_name user.username %}</strong>
			</span>
			<i class="dropdown icon"></i>
		{% endblock %}
			<div class="menu">
				<div class="header"> Actions </div>

		{% block userlinks %}
				
	    {% if site_url %}
	        	<a class="item" href="{{ site_url }}">{% trans 'View site' %}</a>
	    {% endif %}
	    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
	        {% if docsroot %}
	            <a class="item" href="{{ docsroot }}">{% trans 'Documentation' %}</a>
	        {% endif %}
	    {% endif %}
	    {% if user.has_usable_password %}
			<div class="item">
				<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
			</div>
		{% endif %}
			<div class="item">
				<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
			</div>
    	{% endblock %}
		{% endif %}
			
    	{% endblock %}

			</div> <!-- end submenu -->
		</div> <!-- End dropdown -->
		{% endif %} <!-- First user.is_authenticated -->
	</div>
	<!-- END Menu -->

    {% block nav-global %}{% endblock %}


    <!-- {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %} -->
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
