{% extends "admin/base_site.html" %}

{% block content %}
  <div class="ui three column grid">

	  <a href="{% url 'admin:main_reception_add' %}" 
		 class="ui labeled icon button">
	  <i class="plus square outline icon"></i>
	  Ajouter livre(s)
	  </a>
		<a href="{% url 'admin:main_vente_add' %}"
		   class="ui labeled icon button">
		  <i class="shop icon"></i>
		  Vendre livre(s)
		</a>

		<a href="{% url 'admin:main_vente_changelist' %}"
		   class="ui labeled icon button">
		  <i class="remove square outline icon"></i>
		  Annuler vente(s)
		</a>

	<div class="row">
		
		<a href="{% url 'admin:main_exemplaire_changelist' %}"
		   class="ui labeled icon button">
		  <i class="book icon"></i>
		  Voir exemplaires
		</a>
		{% if user.is_superuser %}
		<a href="{% url 'main:rapport' %}"
		   class="ui labeled icon button">
		  <i class="list icon"></i>
		  Voir rapports des ventes
		</a>
		{% endif %}
	</div>
  </div>
{% endblock content %}
